streamlit
openai
python-dotenv
langchain
langchain-community
langchain-core
langchain-openai
qdrant-client
PyMuPDF
docx2txt
requests
streamlit
python-dotenv
openai
langchain
langchain_community
qdrant-client
sounddevice
PyMuPDF
docx2txt
streamlit
openai
python-dotenv
streamlit-audiorec
langchain
qdrant-client
langchain-community
PyMuPDF
docx2txt
